

<h1>File Operations</h1>

<form method="post">
    <input type="text" name="filename" placeholder="Enter file name"
        value="{{ RobotController.loadedProgram if result != 'File already exists. Do you want to overwrite it?' else RobotController.programToOverwrite }}"
        required>
    <button type="submit" name="action" value="read">Read File</button>
    <button type="submit" name="action" value="write">Write File</button>
    {% if result == "File already exists. Do you want to overwrite it?" %}
    <button type="submit" name="action" value="overwrite">Overwrite</button>
    {% endif %}
</form>
{% if result %}
<h2>Result:</h2>
<pre>{{ result }}</pre>
{% endif %}


