{% extends "base.html" %}

{% block main %}
<div class = "centered-container">
    <a href="/">Back To Repeat Panel</a>
<!-- </div>

<div> -->
    <h3>Vector Values:</h3>
<!-- </div>

<div> -->
    <form method="post">
        {% for value in selected_element %}
        <label for="value_{{ loop.index }}">{{ loop.index }}:</label>
        <input type="text" id="value_{{ loop.index }}" name="value_{{ loop.index }}" value="{{ value }}">
    </br>
        {% endfor %}
        <button type="submit">Save</button>
    </form>
</div>
{% endblock %}