{% extends "base.html" %}

{% block main %}


<div id="container">
    <h2>Program</h2>
    <!-- {% include 'programList.html' %} -->


    <h2>Move Panel</h2>
    <div class="move-main-panel">

        {% for number_set in Robot.xyz %}
            <div class="xyz_column">
            <h2>{{ number_set['name'] }}</h2>
            <p>Value:  {{ number_set['value']|round(2) }}</p>
            {% set axis = loop.index0 %}
            
            {% for increment in increment_values %}
                <form method="POST" action="/increment/{{ axis }}">
                    <button class="button" type="submit">Increment by {{ increment }}</button>
                    <input type="hidden" name="increment_type" value="{{ loop.index0 }}">
                </form>
                <form method="POST" action="/decrement/{{ axis }}">
                    <button class="button" type="submit">Decrement by {{ increment }}</button>
                    <input type="hidden" name="increment_type" value="{{ loop.index0 }}">
                </form>
            {% endfor %}
            </div>
        {% endfor %}

        <script>
            document.getElementById("add-position-button").addEventListener("click", function () {
                fetch("/AddPositionFromServoPos", { method: "POST" })
                    .then(() => window.location.reload());
            });
        </script>
    </div>
</div>
{% endblock %}