{% extends "base.html" %}

{% block main %}


<div id="container">
    <h2>Program</h2>
    {% include 'programList.html' %}
    

    <h2>Teach Panel</h2>
    <div id="repeat-mode-main-panel">
        <button id="add-position-button">Add Position from servo</button>

        <script>
            document.getElementById("add-position-button").addEventListener("click", function () {
                fetch("/AddPositionFromServoPos", { method: "POST" })
                    .then(() => window.location.reload());
            });
        </script>
    </div>
</div>
{% endblock %}