{% extends "base.html" %}

{% block main %}


<div id="container">
    <h2>Program</h2>
    <!-- <ul class="fancy-list">
        {% for element in elements %}
        <li><a href="{{ url_for('element_details', index=loop.index) }}">{{ element }}</a></li>
        {% endfor %}
    </ul> -->
    {% include 'programList.html' %}
    

    <h2>Teach Panel</h2>
    <!-- Content for repeat panel -->
    <!-- <button onclick="window.location.href='/'">Switch to Repeat Panel</button> -->

    <div id="repeat-mode-main-panel">
        <button id="add-position-button">Add Position</button>

        <script>
            document.getElementById("add-position-button").addEventListener("click", function () {
                fetch("/addPosition", { method: "POST" })
                    .then(() => window.location.reload());
            });
        </script>
    </div>
</div>
{% endblock %}